@use '../abstracts/_variables' as *;
@use '../abstracts/mixins' as *;

.contact-main{
    margin-top: 80px;
    background-image: url('../../image/download.svg');
    position: relative;
    padding: 40px;
}

form::before{
    @include desktop{
        margin: 10px 0;
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        width: 5%;
        height: 50px;
        top: 0;
        left: 0;
        // background-color: $color-blue-primary;
        z-index: -1;
        transition: all 0.5s ease-in-out;
        border-top:5px solid $color-blue-primary;
        border-left:5px solid $color-blue-primary;
    }
    
}

form::after{
    @include desktop{
        margin: 10px 0;
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        width: 5%;
        height: 50px;
        bottom: -30px;
        right: 0;
        // background-color: $color-blue-primary;
        z-index: -1;
        transition: all 0.5s ease-in-out;
        border-bottom:5px solid $color-blue-primary;
        border-right:5px solid $color-blue-primary;
    }
}

form{
    gap: 0.5rem;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}

.names{
    gap: 0.5rem;
    input{
        flex-basis: 50%;
    }
}

.contact-big-card{
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.mailPhone{
    gap: 0.5rem;
    input{
        flex-basis: 50%;
    }
}
.form-head{
    text-align: center;
    h3{
        font-size: 2rem;
    }
}
.warning{
    font-size: 0.8rem;
    font-style: italic;
}
.submint{
    text-align: center;
    button{
        transition: all 0.3s ease-in-out;
        background-color: $color-blue-primary;
        color: $color-white;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background-color: $color-black-primary;
        }
    }
}

.mailPhone {
    @include desktop{
        flex-direction: row;
    }
}

.contact-main-card{
    background-image: url('../../image/attoney-img2.svg');
}
.contact-card{
    span{
        font-size: 0.7rem;
    }
}
.contact-card-top{
    padding: 10px 20px;
    background-color: $color-white;
}
.contact-card-top-content{
    justify-content: space-between;
    background-color: $color-white;
}
.attonney-right{
    color: $color-blue-primary;
    border-left: 1px solid $color-blue-primary;
    padding-left: 15px;
}

