@use '../abstracts/_variables' as *;
@use '../abstracts/mixins' as *;

body{
    
}

h2{
    color: $color-black-primary;
    font-size: 1.5rem;
}
p{
    font-size: 0.9rem;
}
a{
    color: $color-blue-primary;
}

.upper-it{
    font-size: 0.8rem;
}

header{
    height: 100vh;
    background-color: $color-blue-primary;
    position: relative;

    justify-content:center ;

}
.img-logo{
    width: 150px;
}

.fa-solid{
    
}
blockquote{
    font-size: 1.2rem;
    text-align: center;
    color: $color-blue-primary;
    padding: 20px 50px;
    gap: 1rem;
   
    // .quote-symbole{
    //     font-size: 3rem;
    // }

    
}

.header-nav{
    padding: 10px 0;

    
    position: relative;

    

    .logo-nav{
        justify-content: space-between; 
        position: fixed;
        top: 15px;  
        left: 30px;
        right: 30px;
    }
    .nav-right{
        display: none;
    }
    .hustle{
        align-items: center;
        
    }
}
.myVideo{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
}

.main-index{
    
    .articli-main-top{
        gap: 1rem;
        padding: 10px 0;
        .main-form-titl{
            text-align: left;
        }
        .trial{
            text-align: center;
            gap: 1rem;
        }
    }
}

.unique-perspective{
    background-color: $color-blue-primary;
    
    .card-left{
        position: relative;
        padding: 50px;
        img{
            border-radius: 50%;
            border: 1rem solid $color-blue-light;
        }
        .lawyer-name{
            position: absolute;
            bottom: 90px;
            justify-content: center;
            p{
                background-color: bisque;
            }
        }
    }
}