// 🎨 Couleurs principales (exemple)
$color-blue-primary: #0744af;         // Bleu 
$color-black-primary: #000000;   //Nazotinda
$color-white:#ffffff;
$color-blue-light: #2c5db1;   





//Color-image
$color-image: #fffef8; 
// ✨ États
$hover-brightness: 1.1;
$active-brightness: 0.9;
$disabled-opacity: 0.5;

// ✍️ Typo
$font-family: 'Nunito', sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-weight-regular: 400;
$font-weight-bold: 700;

// 📱 Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
