@use '../abstracts/_variables' as *;

.btn-blue{
    background-color: $color-blue-primary;
}

.iflex-row{
    display: flex;
    flex-direction: row;
}
.iflex-col{
    display: flex;
    flex-direction: column;
}

.igrid{
    display: grid;
    grid-template: repeat(12,1fr);
}
.g-big{
    grid-column: 12;;
}
.g-small{
    grid-column: 6;
}
.g-tiny{
    grid-column: 4;
}
.g-very-tiny{
    grid-column: 3;
}
.wrapper{
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 24px;
}